
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+
+	File		: screen.css
+	Author		: frismedia.nl
+	Date		: 16-05-2007
+	 
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

/*++++++++++++++++++++++++*/
/*      HTML ELEMENTS     */

body
{
	background: white;
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size:0.8em;
	color:black;
}

hr {
	clear:both;
	border-bottom : 1px solid #CCCCCC;
	border-top : none; 
	border-left:none; 
	border-right:none;
	color : #CCCCCC;
	padding:0;
	display:block;
	margin:5px 0 1px 0;
	height:1px;
}

h1, h2, span.h2, h3, h4, h5, h6 {margin:5px 0;}
h1 {font-size:1.7em;}
h2, span.h2 {font-size:1.55em;font-weight:bold;}
div.content h2 {font-size:1.1em;}
h3 {font-size:1.05em;}
h4 {font-size:1em;}
h5 {font-size:0.95em;}
h6 {font-size:0.9em;}

h1 a, h2 a, span.h2, h3 a, h4 a, h5 a, h6 a {text-decoration:none;}

div.home h1 {display:none;}

a {color:#288DD4;}
a:hover {text-decoration:underline;}

p {margin:0 0 10px 0;}

form {margin:0;}

span
{
	display:block;
	margin:5px 0 0 0;
	font-size:0.9em;
	color:#999999;
}
p span {display:inline;font-size:1em;}

h1 span, h2 span, span.h2 span, h3 span, h4 span, h5 span, h6 span {display:inline;}
h1 span em, h2 span em, span.h2 span em, h3 span em, h4 span em, h5 span em, h6 span em {color:#F18835!important;}

/*      HTML ELEMENTS     */
/*++++++++++++++++++++++++*/


/*++++++++++++++++++++++++*/
/*    GENERAL CLASSES     */
.clearfix:after, div.header:after, div.header span:after, div.header ul:after, div.main:after, ul.path:after, div.subNav ul:after, div.item:after, ul.tagcloud:after, div.footer:after, div.footer ul:after, address:after, div.publicatie:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
/* Hides from IE-mac and IE-win \*/
* html .clearfix, div.header, div.header span, div.header ul, div.main, ul.path, div.subNav ul, div.item, ul.tagcloud, div.footer, div.footer ul, address, div.publicatie {height: 1%;}
/* End hide from IE-mac */
/*    GENERAL CLASSES     */
/*++++++++++++++++++++++++*/


/*++++++++++++++++++++++++*/
/*      MAIN DIVS        */

div.wrapper 
{ 
	position:relative;
	margin:0 auto 0 auto;
	padding:15px 0 30px 30px;
	width:994px; 
	background:url(images/body_bck.gif) no-repeat;
}
div.red {background-image:url(red/body_bck.gif);}

div.header {position:relative;}

div.main {font-size:0.9em;}

div.surftag
{
	position:absolute;
	right:25px;
	z-index:100;
	margin:0;
	padding:0;
	width:125px;
	height:35px;
}

/*      MAIN DIVS        */
/*++++++++++++++++++++++++*/

/*+++++++++++++++++*/
/*      NAV        */

div.header span
{
	float:left;
	margin:0;
	padding:8px 0 0 40px;
	font-size:1.9em;
	color:black;
	font-weight:bold;
}

div.red div.header span {font-size:1.25em;padding-top:5px;}
div.red div.header span strong
{
	display:block;
	color:#CE202A;
	font-size:1.45em;
}

div.header span.left, div.header span.right
{
	position:absolute;
	top:56px;
	display:block;
	z-index:2;
	width:10px;
	height:10px;
	background:url(images/header_img_left_bck.gif) no-repeat;
	margin:0;
	padding:0;
}
div.red div.header span.left {background-image:url(images/red/header_img_left_bck.gif);}
div.header span.right {background-image:url(images/header_img_right_bck.gif);right:34px;}
div.red div.header span.right {background-image:url(images/red/header_img_right_bck.gif);}
div.header img
{
	position:relative;
	margin:12px 0 0 0;
	z-index:1;
}
div.red div.header img {margin:10px 0 0 0;}

div.header img.logo, div.red div.header img.logo {float:left;margin:-3px 0 0 3px;border:0;}

div.header ul
{
	position:relative;
	list-style:none;
	margin:-5px 0 0 0;
	padding:0;
	background:url(images/header_ul_bck.gif) bottom no-repeat #55A6DE;
	width:960px;
	z-index:10;
}
div.red div.header ul {background:url(images/red/header_ul_bck.gif) #3D3D3D;}
div.header ul li
{
	float:left;
	margin:0;
	padding:0;
}
div.header ul li.extra {float:right;}

div.header ul li a
{
	display:block;
	padding:5px 15px;
	margin:0;
	color:white;
	text-decoration:none;
}
div.header ul li.extra a
{
	width:auto;
	padding:6px 5px 5px 5px;
	font-size:0.9em;
}

div.header ul li:hover a, div.header ul li em a, div.header ul ul li em a {background-color:#0B5AA0;font-style:normal;}
div.red div.header ul li:hover a, div.red div.header ul li em a, div.red div.header ul ul li em a {background-color:#990000;}

div.header ul li:hover ul li a, div.red div.header ul li:hover ul li a
{
	background:none;
	background-image:url(images/header_list_bck.gif);
	background-repeat:no-repeat;
	background-position: 15px 11px;
	padding:4px 15px 4px 24px;	
	width:160px;
}
div.header ul ul li a:hover, div.header ul li:hover ul li em a {background:url(images/header_li_hover.gif) no-repeat 15px 6px #0B5AA0!important;}
div.red div.header ul ul li a:hover, div.red div.header ul li:hover ul li em a {background-color:#990000!important;}

div.header ul ul
{
	display:none;
	position:absolute;
	z-index:20;
	width:200px;
	margin:0;
	padding-bottom:10px;
	background:url(images/header_ul_ul_bck.jpg) bottom no-repeat #176AB6;
	height:auto;
	font-size:0.9em;
}
div.red div.header ul ul {background:url(images/red/header_ul_ul_bck.jpg) bottom no-repeat #D42231;}

div.header ul li:hover ul li {float:left;}
div.header ul li:hover ul {display:block;}

div.header ul ul li {float:none;}

/*      NAV        */
/*+++++++++++++++++*/

/*+++++++++++++++++*/
/*      MAIN       */

div.column {float:left;}
div.item
{
	padding:0 10px 10px 10px;
	margin:15px 15px 0 0;
	background-repeat:no-repeat;
	background-position:bottom;
}
div#flashHeader {margin:15px 15px 0 0;}
div.item h2, div.item span.h2
{
	margin:0 -10px 10px -10px;
	padding:7px 10px;
	font-size:1.25em;
	color:white;
	background-position:top left;
	background-repeat:no-repeat;
	background-color:#F18A32;
}
div.content div.item h2 {background:none;color:black;}

div.red div.item h2, div.red div.item span.h2 {background-color:#CF1F2C;}


div.item a.rss
{
	float:right;
	margin-top:-30px;
	padding:0 18px 0 0;
	color:white;
	background:url(images/rss.gif) no-repeat right;
	text-decoration:none;
	font-weight:bold;
}
div.item a.rss:hover {text-decoration:underline;}

div.left div.item {width:350px;background-image:url(images/item_home_left_bck.gif);}
div.left div.item h2, div.left div.item span.h2 {background-image:url(images/h2_home_left_bck.gif);}
div.red div.left div.item h2, div.red div.left div.item span.h2 {background-image:url(images/red/h2_home_left_bck.gif);}

div.right div.item {width:310px;background-image:url(images/item_home_right_bck.gif);}
div.right div.item h2, div.right div.item span.h2 {background-image:url(images/h2_home_right_bck.gif);}
div.red div.right div.item h2, div.red div.right div.item span.h2 {background-image:url(images/red/h2_home_right_bck.gif);}

div.item img {float:left;margin:5px 5px 5px 0;}

div.item p.preview a {text-decoration:none;color:black;}
div.item a.link
{
	background:url(images/preview_bck.gif) no-repeat right;padding:5px 10px 5px 0;
	font-size:0.9em;
	line-height:2em;
	text-decoration:none;
}
div.item a.link:hover {text-decoration:underline;}
div.item p.preview a.link:hover {text-decoration:none;}

div.content div.item
{
	width:920px;
	background-image:url(images/item_content_bck_full.gif);
	padding:0 20px 20px 20px;
}
div.content div.item span.h2 {background-image:url(images/h2_content_bck_full.gif);margin:0 -20px 20px -20px;}
div.red div.content div.item h2, div.red div.content div.item span.h2 {background-image:url(images/red/h2_content_bck.gif);}

div.side div.item {width:210px;background-image:url(images/item_side_bck.gif);}
div.side div.item h2, div.side div.item span.h2 {background-image:url(images/h2_side_bck.gif);}
div.red div.side div.item h2, div.red div.side div.item span.h2 {background-image:url(images/red/h2_side_bck.gif);}

ul.path
{
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
	display:block;
}
ul.path li {float:left;background:url(images/path_bck.gif) no-repeat left;padding:0 5px 0 10px;}
ul.path li.home {background:none;} 
ul.path li a {text-decoration:none;}

/*     CONTENT      */

div.content div.mainContent, div.content div.footerContent {float:left;width:510px;color:black;}
div.sub div.mainContent, div.sub div.footerContent {float:right;}
div.content div.footerContent
{
	text-align:right;
	margin:20px 0 -10px 0;
}
div.content div.footerContent p
{
	float:left;color:#999999;
	margin:0 0 0 15px;
	background:url(images/date.gif) no-repeat left;
	padding-left:15px;
}
div.content div.footerContent a {text-decoration:none;margin-right:15px;}
div.content div.footerContent a:hover {text-decoration:underline;}
div.content div.footerContent a.mail {background:url(images/mail.gif) no-repeat left;padding-left:23px;}
div.content div.footerContent a.print {background:url(images/print.gif) no-repeat left;padding-left:15px;}

div.zie 
{
	float:right;
	background:url(images/zie_header_bck.gif) no-repeat top left #EBEBEB;
	width:164px;
	margin:10px -19px 0 0;
	padding:0;
}
div.zie span
{
	margin:5px 10px;
	color:black;
	font-size:1.2em;
	font-weight:bold;
}
div.zie ul
{
	margin:0;
	list-style:none;
	padding:0 0 10px 0;
	width:164px;
	background:url(images/zie_footer_bck.gif) no-repeat bottom left #EBEBEB;
}
div.sub div.zie
{
	clear:both;
	width:510px;
	margin:10px 0 0 0;	
	background-image:url(images/zie_header_sub_bck.gif);	
}
div.sub div.zie ul
{
	width:510px;
	background-image:url(images/zie_footer_sub_bck.gif);
}
div.zie ul li
{
	padding:5px 10px 0 25px;
	background:url(images/zie_li_bck.gif) no-repeat 10px 10px;
}

div.zie ul li a
{
	font-size:0.95em;
	text-decoration:none;
}
div.zie ul li a:hover {text-decoration:underline;}

a.bck
{
	text-decoration:none;
	display:block;
	margin:-15px 0 5px -10px;
	padding-left:10px;
	background:url(images/bck_bck.gif) no-repeat left;
}

a.bck:hover {text-decoration:underline;}

div.subNav 
{
	float:left;
	background:url(images/sub_ul_first_bck.jpg) no-repeat top left;
	width:165px;
	margin:0 0 0 -19px;
	padding:10px 0 0 0;
}
div.red div.subNav {background-image:url(images/red/sub_ul_first_bck.jpg);}
div.subNav ul
{
	margin:0;
	padding:0 0 10px 0;
	list-style:none;
	width:165px;
	background:url(images/sub_ul_bck.jpg) bottom left no-repeat;
}
div.red div.subNav ul {background-image:url(images/red/sub_ul_bck.jpg);}
div.subNav ul li {float:left;	}
div.subNav ul li a
{
	color:white;
	font-size:0.95em;
	text-decoration:none;
	display:block;
	width:135px;
	padding:3px 15px 3px 15px;
	background:url(images/sub_li_bck.gif) 10px 10px no-repeat;
}
div.subNav ul li a:hover, div.subNav ul li em a {background:url(images/sub_li_hover_bck.gif) no-repeat left 5px #0B5AA0;font-style:normal; display:block;text-decoration:none;}
div.red div.subNav ul li a:hover, div.red div.subNav ul li em a {background-color:#990000;}

div.item ul.tagcloud
{
	margin:0 -10px 0 0;
	padding:0;
	list-style:none;
}
div.item ul.tagcloud li
{
	margin:0;
	padding:0;
	float:left;
}

div.item ul.tagcloud li.tc1 a, div.item ul.tagcloud li.tc2 a, div.item ul.tagcloud li.tc3 a, div.item ul.tagcloud li.tc4 a, div.item ul.tagcloud li.tc5 a, div.item ul.tagcloud li.tc6 a
{ 
	text-decoration:none;
	font-weight:bold;
	margin:0 15px 0 0;
	line-height:25px;
	white-space:nowrap;
	float:left;
	padding:0;	
}
div.item ul.tagcloud li a:hover {text-decoration:underline;}

div.item ul.tagcloud li.tc1 {font-size:1.5em;}
div.item ul.tagcloud li.tc2 {font-size:1.4em;}
div.item ul.tagcloud li.tc3 {font-size:1.3em;}
div.item ul.tagcloud li.tc4 {font-size:1.2em;}
div.item ul.tagcloud li.tc5 {font-size:1.1em;}
div.item ul.tagcloud li.tc6 {font-size:1em;}

/*     CONTENT      */

/*     MAIN      */
/*+++++++++++++++*/

/*+++++++++++++++++*/
/*      SIDE       */

div.side div.search {background-image:url(images/search_bck.gif);background-position:top;padding:10px;}
div.red div.side div.search {background-image:url(images/red/search_bck.gif);}

div.search input {width:202px;margin-bottom:5px;}
div.search input.submit
{
	width:54px;
	float:right;
	margin:0 4px 0 0;
	height:21px;
	background:url(images/search.gif) no-repeat left 1px ;
	color:white;
	border:none;
}
div.red div.search input.submit {background-image:url(images/red/search.gif);}

/*      SIDE       */
/*+++++++++++++++++*/

/*+++++++++++++++++++*/
/*      FOOTER       */

div.footer
{
	font-size:0.9em;
	background:url(images/footer_top_bck.jpg) no-repeat top left;
	margin-top:20px;
}
div.footer p {float:left;padding:5px 10px 0 10px;margin:0;}
div.footer ul
{
	position:relative;
	list-style:none;
	margin:0;
	padding:0;
	float:left;
}

div.footer ul li
{
	float:left;
	padding:5px 10px;
	display:block;
}
div.footer ul li a
{
	text-decoration:none;
	color:#288DD4;
	background:url(images/footer_li_bck.gif) no-repeat left;
	padding-left:6px;
}

div.footer ul li a:hover {text-decoration:underline;}
address
{
	clear:both;
	width:960px;	
	background:url(images/footer_bottom_bck.jpg) no-repeat left bottom;
	font-style:normal;
	padding:5px 0;
}
address span
{
	display:block;
	float:left;
	margin:0 10px;color:black;
}
address a {text-decoration:none;color:#288DD4;float:left;}
address a.extra {float:right;padding-right:8px;}
/*      FOOTER       */
/*+++++++++++++++++++*/


/*+++++++++++++++++++*/
/*      CONTENT      */

div.content div.mainContent img {margin:0 10px 10px 0;}

div.content div.mainContent ul
{
	margin:0 0 10px 0;
	padding:0;
	list-style:none;
}
div.content div.mainContent ul li {	background:url(images/preview_bck.gif) no-repeat left 3px;}
div.content div.mainContent ul li a
{
	padding-left:15px;
	text-decoration:none;
}
div.content div.mainContent ul li a:hover {text-decoration:underline;}
div.content div.mainContent ul li p {padding-left:15px;}

div.content div.mainContent label
{
	width:170px;
	display:block;
	float:left;
	clear:both;
	margin-top:4px;
}
div.content div.mainContent input {width:320px;margin-bottom:2px;}
div.content div.mainContent input.submit {width:125px;}

div.content div.mainContent form label.autowidth, div.content div.mainContent form input.autowidth
{
	width:auto;
	float:left;
	clear:none;
}
div.content div.mainContent form label.autowidth {margin-right:20px;}
div.content div.mainContent form hr
{
	margin:10px 0;
	color:#EF8935;
	border-color:#EF8935;
}

div.content div.mainContent p.column {width:50%;float:left;}
/*div.content div.mainContent h4 {font-size:1.1em;}*/

div.publicatie
{background:url(images/publicaties_bottom_bck.gif) no-repeat bottom left #EFEFEF;
padding:20px;
margin-bottom:30px;}


div.publicatie img {
padding-left:40px;
position:static;
display:block;
}

div.publicatie p
{
	background:url(images/publicaties_top_bck.gif) no-repeat top left;
	margin:-20px -20px 0 -20px;
	padding:15px 15px 15px 195px;
}

div.publicatie strong a  {text-decoration:none;
margin-right:5px;}
div.publicatie strong a:hover {text-decoration:underline;}
/*      CONTENT      */
/*+++++++++++++++++++*/
